<div>
    <div>
      <h3>{{section.settings.heading}}</h3>
      {% for block in section.blocks %}
          <div>
            <h2 >{{ block.settings.title }}</h2>
          </div>
          <div>
            <a href="{{block.settings.link_pdf}}">{{block.settings.pdf_name}}</a>
          </div>
      {% endfor %}
    </div>
</div>
    
{% schema %}
{
    "name": "pdf-text",
    "class": "section",
    "settings": [
        { 
          "id":"text",
          "type":"text",
          "label":"Heading"
        }
    ],"blocks": [
    {
        "type": "text",
        "name": "Name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          }
        ]  
    },
    {
        "type": "section",
        "name": "PDF",
        "settings": [
          {
            "type": "url",
            "id": "link_pdf",
            "label": "PDF-link"
          },{
            "type": "text",
            "id": "pdf_name",
            "label": "PDF-name"
          }
        ]  
    }
],"presets": [
{
  "name": "Text-PDF"
}
]
}
{% endschema %}

    
      
    