<div>
  <label>Date:</label>
  <button type="button" onclick="document.getElementById('demo').innerHtml">{{ section.settings.button_label }}</button>
  <p id="demo">{{ section.settings.date }}</p>
</div>


{% schema %}
  {
    "name": "Demo Script",
    "class": "script-ctm",
    "settings": [
      {
        "type":"html",
        "id":"date",
        "label":"Date"
      },
      {
        "type":"text",
        "id":"button_label",
        "label":"Button Text",
        "default":"Click Here To Display Date"
      }
    ],
    "presets":[
      {
        "name":"Demo Script"
      }
    ]
  }
{% endschema %}

<script>
  
</script>