{% if section.settings.align_radio == left%}
    <h3 style="{{text-align:left}}">{{section.settings.text}}</h3>
    {% else %}
    <h3 style="{{text-align:right}}">{{section.settings.text}}</h3>
{% endif %}



{% schema %}
{
    "name":"align text example",
    "settings":[
    {
          "type":"text",
          "id":"text",
          "label":"enter any text",
          "default":"WELCOME"
    },
    {
        "type":"radio",
        "id":"align_radio",
        "option":[
          {
            "value":"left",
            "label":"left"
          },
          {
            "value":"right",
            "label":"right"
          }       
        ],
        "default":"left"
    }
    ],
    "presets":[{
        "name":"align text example"
    }]
}
{% endschema %}