
    <div style="text-align:{{ section.settings.align_radio}}; font-size:{{ section.settings.font_size | append:'px'}}; color:{{ section.settings.text_color }}">{{section.settings.text}}</div> 



{% schema %}
{
    "name":"align text example",
    "settings":[
    {
          "type":"text",
          "id":"text",
          "label":"enter any text",
          "default":"WELCOME"
    },
    {
        "type":"radio",
        "id":"align_radio",
        "options":[
          {
            "value":"left",
            "label":"left"
          },
          {
            "value":"right",
            "label":"right"
          },
          {
            "value":"center",
            "label":"center"
          }
        ],
        "default":"left",
        "label":"choose alignment of text"
    },
      {
        "type":"range",
        "id":"font_size",
        "min":15,
        "max":50,
        "step":1,
        "unit":"px",
        "label":"choose font size",
        "default":35
      },
      {
        "type":"select",
        "id":"text_color",
        "options":[
          {
            "value":"red",
            "label":"Red"
          },
          {
            "value":"green",
            "label":"Green"
          },
          {
            "value":"blue",
            "label":"Blue"
          }
        ],
        "default":"green",
        "label":"select text color"
      },
      {
        "type":"page",
        "id":"page",
        "label":"page"
      }
    ],
    "presets":[{
        "name":"align text example"
    }]
}
{% endschema %}