
    <h6 style="text-align:{{ section.settings.align_radio}}; font-size:{{ section.settings.font_size }};">{{section.settings.text}}</h6> 



{% schema %}
{
    "name":"align text example",
    "settings":[
    {
          "type":"text",
          "id":"text",
          "label":"enter any text",
          "default":"WELCOME"
    },
    {
        "type":"radio",
        "id":"align_radio",
        "options":[
          {
            "value":"left",
            "label":"left"
          },
          {
            "value":"right",
            "label":"right"
          },
          {
            "value":"center",
            "label":"center"
          }
        ],
        "default":"left",
        "label":"choose alignment of text"
    },
      {
        "type":"range",
        "id":"font_size",
        "min":15,
        "max":50,
        "step":1,
        "unit":"px",
        "label":"choose font size",
        "default":35
      }
    ],
    "presets":[{
        "name":"align text example"
    }]
}
{% endschema %}